@charset "UTF-8";

/*共通部分*/
html {
    font-size:100%;
}

body {
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height:1.7;
    color:#6E621F;
    /*基本カラー#EDD443　237,212,67*/
}

a {
    text-decoration:none;
}

img {
    max-width:100%;
}

li {
    list-style: none;
}

/*wrapper*/
.wrapper {
    max-width:1100px;
    margin:0 auto;
    padding:0 4%;
}

/**********************************************************************************/
/*header*/
.fix-header {
    position:fixed;
    height: 70px;
    top:0;
    width: 100%;
    z-index: 100;
    background-color: #EDD443;
}

.page-header {
    display:flex;
    justify-content:space-between;
    padding-top:10px;
}

.logo {
    width:50px;
}

.main-nav {
    display:flex;
    font-size:1.7rem;
}

.main-nav li {
    font-weight:normal;
}

.main-nav a {
    display:block;
    padding:6px 20px;
    color:#fff;
    font-family: 'Atma', cursive;
    font-weight: 500;
}

.main-nav a:hover {
    color:#F0E18B;
}


/**********************************************************************************/
/*home*/
#home {
    background-image: url(image/issuikai78.jpg);
    background-color:rgba(237,217,67,0.3);
    background-blend-mode: soft-light;
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;
    min-height:100vh;
    margin-bottom: 150px;
}


.home-content {
    text-align:center;
    padding-top:15%;   
}

.home-content p {
    font-size:1.125rem;
    margin:10px 0 42px;
    color:#fff;
}

.page-title {
    font-size:5rem;
    font-family: 'Atma', cursive;
    color:#fff;
    font-weight:400;
    letter-spacing: 0.3rem;
    text-align:center;
}



/*ボタン*/
.button {
    display: inline-block;
    width:200px;
    height: 70px;
    line-height: 70px;
    font-size:1.375rem;
    background-color:#EDD443;
    color:#6E6740;
    border-radius:35px;
    box-shadow:3px 3px 3px rgba(169,169,169,0.6);
    letter-spacing:0.25rem;
}

.button:hover {
    background-color:rgba(237,212,67,0.8);
    font-size:1.5rem;
    box-shadow:3px 3px 3px rgba(169,169,169,0.8);
}
.button:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

/**********************************************************************************/
/*ページのタイトル*/
.contents-wrapper {
    text-align: center;
    width:100%;
    display: block;
    padding-top:90px;
    margin-top:-90px;
    margin-bottom:5px;
}

.contents-title {
    background-color: #EDD443;
    font-size:2rem;
    font-family: 'Atma', cursive;
    color:#fff;
    font-weight:400;
    letter-spacing: 0.5rem;
}

/**********************************************************************************/
/*Works*/
.grid {
    display:grid;
    gap:5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top:10%;
    margin-bottom:50px;
    text-align: center;
}

.item {
    width:300px;
    height: 340px;
    margin:0 auto;
    text-align:center;
    cursor:pointer;
}


.item img {
    margin:0 auto;
    object-fit: cover;
    border-radius: 3px;
    border: 0.5px rgba(169,169,169,0.8) solid;
    box-shadow:3px 3px 3px rgba(169,169,169,0.8);
    padding:5px;
}

.yoko {
    width: 300px;
    height: 240px;   
}

.tate { 
    width: 192px;
    height: 240px;
}

.square {
    width:240px;
    height: 240px;
}

.painting-title {
    font-size:0.9rem;
    font-weight: normal;
}
.painting-comment {
    font-size: 0.775rem;
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    text-align:center;
}

/**********************************************************************************/
/*News*/
.news-wrapper {
    padding:30px 150px 60px;
    display: flex;
    justify-content: space-between;
}

/**********************************************************************************/
/*News*/
.news-wrapper {
    width:70%;
    padding:30px 0px 60px;
}

.news-wrapper p {
    font-size: 1rem;
}

/**********************************************************************************/
/*About*/
.about-wrapper {
    width:70%;
    padding:30px 0px 60px;
    display: flex;
    justify-content: space-between;
}

.about-image {
    width:150px;
    height: 120px;
    border-radius: 60px;
}

.about-text {
    width:70%;
    font-size:1rem;
}



/**********************************************************************************/
/*フッター*/
footer {
    background-color:#6E6740;
    text-align:center;
    padding:26px 0;
}

footer p {
    color:#D6CE31;
    font-size: 0.875rem;
}




/**********モバイル版************/
@media (max-width:600px) {
    .page-title {
        font-size:2.5rem;
    }

    .main-nav {
        font-size:1.3rem;
        margin-top:0px;
    }

    .main-nav a {
        padding:3px 8px;
    }


    .home-content {
        padding-top:30%;   
    }


    /*Works*/
    .menu-content {
        margin-top:10%;
    }
    
    .menu-content p {
        font-size:1rem;
    }

    .menu-content {
        max-width:70%;
    }

     /*News*/
    .news-wrapper {
        width:90%;
        padding:20px 0px 60px;
    }

    /*About*/
    .about-wrapper {
        flex-direction:column;
        width:90%;
        align-items: center;
        padding:20px 0px 130px;
    }

    .about-image{
        margin-bottom: 30px;
    }
    .about-text {
        width:100%;
        text-align: left;
    }

  

}
